<header class="main-header navbar navbar-expand">
    <div class="inner">
        <div class="left">
            <span class="logo-findom-container">
                <div class="header-img">
                    <div class="img"></div>
                </div>
            </span>
            <span class="sidebar-toggler" (click)="toggleSidebar()">
                <i class="fa fa-navicon"></i>
            </span>
            <span class="nav-link-container">
                <div class="nav-link mr1" [routerLink]="['/']">Home</div>
            </span>
        </div>
        <div class="right">
            <!-- account -->
            <span class="mr1 header-button">
                <app-logged-user></app-logged-user>
            </span>
            <!-- lang -->
            <span class="mr1 header-button">
                <app-lang-switcher></app-lang-switcher>
            </span>
        </div>
    </div>
</header>