:host {
    .select-comp {
        padding: 0 30%;
    }
    .submit-div {
        text-align: center; 
        margin-top: 8px;

        .submit-button {
            background-color: #2087c5; 
            color: #f1f1f1;
        }
    }
}