<div #login class="login-box fadeIn">
  <div class="inner">
    <mat-card class="login-card">
      <mat-card-content>
        <div class="form-container">
          <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div class="fields">
            <form #loginForm [formGroup]="credentialsForm" (ngSubmit)="onFormSubmit(credentialsForm.value)">
              <h1>Login</h1>
              <p class="text-muted">Sign In</p>
              <!-- username -->
              <div class="input-group mb-3">
                <mat-form-field class="form-field width-full">
                  <input matInput type="text" placeholder="Username" formControlName="usernameGroup" required>
                  <button mat-button *ngIf="credentialsForm.get('usernameGroup').value && credentialsForm.get('usernameGroup').dirty" matSuffix mat-icon-button aria-label="Clear" (click)="emptyProperty(credentialsForm, 'usernameGroup', $event)">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="!credentialsForm.get('usernameGroup').value && (credentialsForm.get('usernameGroup').dirty || credentialsForm.get('usernameGroup').touched)">
                    <span innerHTML="{{ 'form.validationError.requiredField' | translate }}"></span>
                  </mat-error>
                  <mat-error *ngIf="credentialsForm.get('usernameGroup').value && !credentialsForm.get('usernameGroup').valid && credentialsForm.get('usernameGroup').dirty">
                    <span innerHTML="{{ 'form.validationError.emailInvaid' | translate }}"></span>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- password -->
              <div class="input-group mb-1">
                <mat-form-field class="form-field width-full">
                  <input matInput type="password" placeholder="Password" formControlName="passwordGroup" required>
                  <button mat-button *ngIf="credentialsForm.get('passwordGroup').value && (credentialsForm.get('passwordGroup').dirty || credentialsForm.get('passwordGroup').touched)" matSuffix mat-icon-button aria-label="Clear" (click)="emptyProperty(credentialsForm, 'passwordGroup', $event)">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="!credentialsForm.get('passwordGroup').valid">
                    <span innerHTML="{{ 'form.validationError.requiredField' | translate }}"></span>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- commands -->
              <div class="row">
                <div class="col-6">
                  <button type="submit" [disabled]="!credentialsForm.valid || loginButtonDisabled" class="btn btn-primary btn-sm"><i class="fa fa-user-o"></i> Login</button>
                </div>
                <!--
                NB (!)
                <div class="col-6 text-right">
                  <button mat-button color="primary">Forgot password?</button>
                </div>
                 -->
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
