:host {
    .select-comp {
        min-width: 250px;
        width: 40%;
    }
    .submit-button {
        background-color: #2087c5; 
        color: #f1f1f1; 
        vertical-align: text-bottom;
        margin-left: 16px;
    }
}