:host {

    .error {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        z-index: 1;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        bottom: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .content {
            display: flex;
            align-items: center;

            .icon {
                color: #f75a5a;
                font-size: 30px;
            }
    
            .message {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #55575a;
                font-size: 15px;
            }
        }

        &.no-margin-top {
            top: 0;

            .content {
        
                .message {
                    margin-top: 0;
                }
            }
        }
    }
}